* {
margin: 0;
padding: 0;
}

/* Web Fonts --------------------------------*/
@font-face{
  
}


body {
  
  color: orange;
  min-height: 100vh;
  width: 100%;
 
  background:url('Img/1.jpg') no-repeat center;
  background-size: cover;
}




h1{
  margin: 4%;
  font-size: 3em;
  text-align: center;
  color: rgb(227, 234, 243);
  box-shadow: 5px, 5px, 10px 0 ;

}

ul{
  display: flex;
  list-style: none;
  flex-direction: column;
}

li{
  display: flex;
  flex-direction: row;
}

button{
  
  color:orange;
  background-color: darkblue;
  border: solid;
  margin-top: 40%;
  border-radius: 10px;
  padding: 5px 8px;
}

button:hover{
  background-color: black;
  color: white;
  border: solid;
}

.square{
  color: white;
  margin: 1%;
  background-color: black;
  width: 60px;
  height: 60px;
  border: 3px solid orange;
}

.game{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player{
  padding: 4%;
  background-color: rgba(28, 28, 29, 0.8);
}

.player_information{
  margin: 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label #name_player1 {
font-weight: bold;
font-size: 30px;
font-style: initial;
color: orange;

}

label #name_player2 {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Montserrat';
  
  }
.board{
  margin-top: 100px;
}